@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* initialisation */
:root{
    --pure-white: #FFFFFF;
    --btn-green: #618264;
    --pure-green: #79AC78;
    --nav-text: #000E01;
    --fontInter:Inter,sans-serif;
    --fontIbm:IBM Plex Sans Hebrew;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'inter', sans-serif;

}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
nav ul li{
    font-size: 2rem;
}
a {
    text-decoration: none;

}

nav a{
    color: var(--nav-text);
}
nav a:hover{
    text-decoration: underline;
    color: var(--pure-green);
    
}
.menu{
    display: none ;
    width: 30px;
    cursor: pointer;
 }
.btn {
    width: 190px;
    height: 59px;
    border-radius: 50px; 
    text-align: center;
    background-color: var(--btn-green);
    color: var(--pure-white);
    font-size: 20px;
    font-weight: bold;
}
.btn:hover{
    box-shadow: 5px 5px 1rem #000000a7;
    transform: translateY(-5px);
 }
 @media (max-width: 853px) {
    .btn{
        display: none;
    }
    nav ul li{
    display: none;

}
.menu{
    display: block;
}
}

 /* hero-section */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
 }
 .im-hero {
    /* border: solid red; */
    width:700px;
    height: 465px;
    margin-left: 55px;
    overflow: hidden;
    border-radius: 20px;
 }
  .im-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .actualite {
    flex: 1; 
    padding: 7px;
    max-width: 500px;
  }

  .bandeau{
   display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .bloc-actu{
   display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
  }
  .actu{
    display: flex;      
    align-items: flex-start;
    gap: 15px;

  }
  .actu img {
    width: 120px;       
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  .texte {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texte h5 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #000;
}

.texte p {
    font-size: 12px;
    color: #666;
    line-height: 1.4;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 853px) {

    .hero {
        flex-direction: column; 
        align-items: center;
        gap: 2rem;
       

    }

    .im-hero {
        width: 90%;     
        height: auto;    
        margin-left: 0;  
        aspect-ratio: 16 / 9;
    }

    .actualite {
        width: 100%;   
        padding: 0 15px; 
        /* margin-right: 170px; */
    
    }
    .actu {
        display: flex;
        flex-direction: row; 
        align-items: center;
        gap: 10px;
        padding-bottom: 1.5rem; 
        border-bottom: 1px solid #e0e0e0;
    }
    .bloc-actu .actu:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .actu img {
        width: 100px;
        min-width: 100px;
        height: 70px;
    }

    .btn {
        display: none;
    }
}

/*slide-section*/

#slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 13.4rem;
}

.slide-img img{
    border-radius: 3.0rem;
  
}

figcaption{
    display: flex;
    flex-direction: column;
}

strong{
    width: 33.9rem;
    height: 8.7rem;
    color: var(--nav-text);
    font-family: var(--fontIbm);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2.4rem;
    line-height: 100%;
    margin-top: 2.0rem;
}

small{
    font-family: var(--fontInter);
    font-weight: 300;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 100%;
    color: var(--pure-green);
    margin-top:1.4rem ;
}

@media screen and (max-width: 853px) {
    #slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 5.1rem;
    margin-left: 2.3rem;
    flex-wrap: nowrap;    /* 2. EMPECHE le retour à la ligne (obligatoire) */
    overflow-x: scroll; 
    
}

.slide-img img{
    width: 25.4rem;
    height: 21.1rem;
    border-radius: 1.0rem; 
    flex-shrink: 0;
}

strong{
    width: 25.1rem;
    height: 5.24rem;
    color: var(--nav-text);
    font-family: var(--fontIbm);
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.8rem;
    line-height: 100%;
    margin-top: 1.9rem;
}

small{
    font-family: var(--fontInter);
    font-weight: 300;
    font-size: 1.0rem;
    font-style: italic;
    line-height: 100%;
    color: var(--pure-green);
    margin-top:1.4rem ;
}

}

/*actualite*/

#actualite{
    display: flex;
    flex-direction: column;
    margin-left:16.6rem;
}

#actualite>img{
    width:97.0rem ;
    height: 63.3rem;
    border-radius: 2.0rem;
}

.fig-cap{
    font-family: var(--fontIbm);
    font-weight: 600;
    font-size: 3.8rem;
    font-style: SemiBold;
    line-height: 100%;
    color: var(--nav-text);
}

@media screen and (max-width: 853px) {
#actualite{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:1.9rem;
}

#actualite>img{
    width:70.7rem ;
    height: 22.2rem;
    margin-right: 2.0rem;
    border-radius: -10px;
}

.fig-cap{
    font-family: var(--fontIbm);
    font-weight: 600;
    font-size: 2.2em;
    font-style: SemiBold;
    line-height: 100%;
    margin-left: 4.5rem;
    margin-bottom: 2.0rem;
    color: var(--nav-text);
}

}

